{% extends "base.html" %}

{% block meta %}
		<title>{% if LANGUAGE_CODE == 'ro' %}Parola a fost resetată{% else %}Password reset successful{% endif %} | DCAE</title>
		<link rel="canonical" href="http://www.dcae.pub.ro/accounts/password/done/">
		<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block bodyclass %}password_reset{% endblock bodyclass %}

{% block content %}
		<div class="page container">
			<article id="about_page" class="generic_article">
				<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Parola a fost resetată{% else %}Password reset successful{% endif %}</h1>
				<section class="ga_content clearfix">
					<p>{% if LANGUAGE_CODE == 'ro' %}Parola dumneavoastră a fost setată și poate fi folosită.{% else %}Your password has been set. You may go ahead and log in now.{% endif %}</p>
<p><a href="{% url login %}">Log in</a></p>
				</section>
			</article>
		</div>

{% endblock content %}
