{% extends "base.html" %}

{% block meta %}
		<title>{% if LANGUAGE_CODE == 'ro' %}Resetare parola{% else %}Password reset{% endif %} | DCAE</title>
		<link rel="canonical" href="http://www.dcae.pub.ro/accounts/password/reset/done/">
		<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block bodyclass %}password_reset{% endblock bodyclass %}

{% block content %}
		<div class="page container">
			<article id="about_page" class="generic_article">
				<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Parola a fost resetată{% else %}Password reset successful{% endif %}</h1>
				<section class="ga_content clearfix">
					<p>{% if LANGUAGE_CODE == 'ro' %}V-am trimis un email cu instrucțiuni de resetare a parolei la adresa pe care ați specificat-o. Ar trebui să-l primiți în cel mai scurt timp.{% else %}We've emailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.{% endif %}</p>
				</section>
			</article>
		</div>

{% endblock content %}
