{% extends "base.html" %}

{% block meta %}
		<title>{% if LANGUAGE_CODE == 'ro' %}Resetare parola{% else %}Password reset{% endif %} | DCAE</title>
		<link rel="canonical" href="http://www.dcae.pub.ro/accounts/password/reset/">
		<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block bodyclass %}password_reset{% endblock bodyclass %}

{% block content %}
		<div class="page container">
			<article id="about_page" class="generic_article">
				<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Resetare parola{% else %}Password reset{% endif %}</h1>
				<p>{% if LANGUAGE_CODE == 'ro' %}Veți primi un email cu instrucțiuni. Vă rugăm să specificați adresa de email <b>asociată contului dumneavoastră</b> în câmpul de mai jos{% else %}You'll receive an email with further instructions. Please fill the field below with the email address <b>associated to your account</b>{% endif %}:</p>
				<section class="ga_content clearfix">
					<div>{{ form.non_field_errors }}</div>
					{% if form.errors %}
						<ul>
							{% for error in form.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					<form action="" method="post">
						{% csrf_token %}
						<p>
							<label for="id_email">Email:</label><br>
							{{ form.email }}
						</p>
						<p><input type="submit" id="hti_link" value="{% if LANGUAGE_CODE == 'ro' %}Trimite{% else %}Send{% endif %}"></p>
					</form>
				</section>
			</article>
		</div>

{% endblock content %}
