{% extends "base.html" %}

{% block meta %}
		<title>{% if LANGUAGE_CODE == 'ro' %}Confirmare resetare parola{% else %}Password reset confirmation{% endif %} | DCAE</title>
		<meta name="robots" content="noindex, nofollow">
{% endblock meta %}

{% block bodyclass %}password_reset{% endblock bodyclass %}

{% block content %}
		<div class="page container">
			<article id="about_page" class="generic_article">
				{% if validlink %}
					<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Parola a fost resetată{% else %}Password reset successful{% endif %}</h1>
					<section class="ga_content clearfix">
						<form action="" method="post">
							{% csrf_token %}
							<p>
								{{ form.new_password1.errors }} <label for="id_new_password1">{% if LANGUAGE_CODE == 'ro' %}Parola nouă{% else %}New password{% endif %}:</label><br>
								{{ form.new_password1 }}
							</p>
							<p>
								{{ form.new_password2.errors }} <label for="id_new_password2">{% if LANGUAGE_CODE == 'ro' %}Confirmați noua parolă{% else %}Confirm password{% endif %}:</label><br>
								{{ form.new_password2 }}
							</p>
							<p><input type="submit" id="hti_link" value="{% if LANGUAGE_CODE == 'ro' %}Salvați{% else %}Save{% endif %}"></p>
						</form>
					</section>
				{% else %}
					<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Parola nu a putut fi resetată{% else %}Password reset unsuccessful{% endif %}</h1>
					<section class="ga_content clearfix">
						<p>{% if LANGUAGE_CODE == 'ro' %}Linkul de resetare a parolei nu este valid, probabil pentru că a fost deja folosit. Vă rugăm să <a href="{% url password_reset %}">solicitați o nouă resetare a parolei</a>{% else %}The password reset link was invalid, possibly because it has already been used. Please <a href="{% url password_reset %}">request a new password reset</a>.{% endif %}.</p>
					</section>
				{% endif %}
			</article>
		</div>

{% endblock content %}
