{% autoescape off %}
{% if LANGUAGE_CODE == 'ro' %}Primiți acest email deoarece ați solicitat resetarea parolei pentru contul dumneavoastră la dcae.pub.ro.{% else %}You're receiving this e-mail because you requested a password reset for your user account at dcae.pub.ro.{% endif %}

{% if LANGUAGE_CODE == 'ro' %}Vă rugăm să vizitați următoarea pagină și să alegeți o parolă nouă:{% else %}Please go to the following page and choose a new password:{% endif %}
{% block reset_link %}
http://www.dcae.pub.ro{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

{% if LANGUAGE_CODE == 'ro' %}Numele dumneavoastră de utilizator, în caz că l-ați uitat, este{% else %}Your username, in case you've forgotten{% endif %}: {{ user.username }}

{% if LANGUAGE_CODE == 'ro' %}Administratorii dcae.pub.ro{% else %}The dcae.pub.ro admins{% endif %}.

{% endautoescape %}
