{% extends 'base.html' %}
{% load pagination_tags %}

{% block meta %}
		<title>{% if LANGUAGE_CODE == 'ro' %}Laboratoare{% else %}Laboratories{% endif %} | DCAE</title>
		<link rel="canonical" href="http://www.dcae.pub.ro/l/">
		<meta name="robots" content="index, follow">
{% endblock meta %}

{% block bodyclass %}courses{% endblock bodyclass %}


{% block content %}
		<div class="page container clearfix">
			<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Laboratoare{% else %}Laboratories{% endif %}</h1>
			<div id="sidebar" class="left grid_4 alpha">
				<h3 id="sidebar_title" class="heading_bg">{% if LANGUAGE_CODE == 'ro' %}Toate laboratoarele{% else %}All laboratories{% endif %}</h3>
				{% if labs %}
					<ul id="archives">
						{% for c in labs %}
							<li class="archivesli">
								<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>{% if c.m %} (Master: <a href="{{ c.m.get_absolute_url }}">{{ c.m.name }}</a>){% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div id="main" class="right grid_12 omega">
				{% if labs %}
					{% autopaginate labs 10 %}
					<div id="announcement_list">
						{% for c in labs %}
							<article class="article_listing clearfix">
								<div class="al_text_no_img">
									<h2 class="al_title"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></h2>
									<section class="al_summary">
										{% if c.m %}<p><b>Master: </b><a href="{{ c.m.get_absolute_url }}" class="darkgreen">{{ c.m.name }}</a></p>{% endif %}
										{% if c.coordinators.all %}
											<p><b>{% if LANGUAGE_CODE == 'ro' %}Coordonat de: {% else %}Coordinated by: {% endif %}</b>{% for u in c.coordinators.all %}{% if u.public %}<a href="{{ u.get_absolute_url }}" class="darkgreen">{{ u.get_full_name }}</a>{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}</p>
										{% endif %}
										{% if c.r.all %}<p><b>{% if LANGUAGE_CODE == 'ro' %}Săli: {% else %}Rooms: {% endif %}{% for s in c.r.all %}</b><a href="{{ s.get_absolute_url }}" class="darkgreen">{{ s.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
										{% if LANGUAGE_CODE == 'ro' and c.ro_url %}<p><a href="{{ c.ro_url }}" class="salmon">Materiale laborator</a></p>{% elif LANGUAGE_CODE == 'en' and c.url %}<p><a href="{{ c.url }}" class="salmon">Laboratory materials</a></p>{% endif %}
										<p><a class="als_details salmon" href="{{ c.get_absolute_url }}">{% if LANGUAGE_CODE == 'ro' %}Mai multe detalii{% else %}Details{% endif %} &raquo;</a></p>
									</section>
								</div>
							</article>
						{% endfor %}
					</div>
					{% paginate %}
				{% else %}
					{% if LANGUAGE_CODE == 'ro' %}Pentru moment, nu a fost adăugat niciun articol. Vă rugăm încercați mai târziu.{% else %}No article has been added yet. Please check again later.{% endif %}
				{% endif %}
			</div>
		</div>
{% endblock content %}
