{% extends 'base.html' %}

{% block meta %}
		<title>{% if LANGUAGE_CODE == 'ro' %}Eroare 404{% else %}404 Error{% endif %} | DCAE</title>
{% endblock meta %}

{% block bodyclass %}about{% endblock bodyclass %}

{% block content %}
		<div class="page container">
			<article id="about_page" class="generic_article">
				<h1 class="ga_title">{% if LANGUAGE_CODE == 'ro' %}Eroare 404{% else %}404 Error{% endif %}</h1>
				<section class="ga_content clearfix">
					<p>{% if LANGUAGE_CODE == 'ro' %}Pagina pe care o căutați nu a putut fi găsită.{% else %}The page you're looking for couldn't be found.{% endif %}</p>
				</section>
			</article>
		</div>
{% endblock content %}
